body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
nav {
    width: 200px;
    background-color: #333;
    color: #fff;
    min-height: 100vh;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  nav li {
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  font-size: 25px;
  }
  .container {
    display: flex;
    height: 100vh;
  }

  

  main {
    flex: 1;
    padding: 20px;
    display: flex;
  }  
  .sidebar {
    width: 300px;
    margin-left: 20px;
    height: 100%;
  }
input,
button {
  padding: 8px;
  margin-bottom: 10px;
  min-width: 100%;
  box-sizing: border-box;
  min-height: 10%;
}
#search-form{
  min-height: 100vh;
  min-width: 20vw;
}